extends layout_new

block content
  div(style="margin-bottom: 30px;padding-bottom: 20px;border-bottom: dashed #ddd;")
    img(src="https://res.cloudinary.com/dvdm9a68v/image/upload/c_scale,w_180/v1548052652/assets/calendar_checklist.png" alt="Email Notif" style="display: block;margin: auto;")


  div(style="text-align: center; margin-bottom: 30px;")
    p(style="font-size:22px;color:#222222;font-weight:bold;") #{MESSAGE_TITLE}
    p #{MESSAGE_SUB_TITLE}
    br
    p 
      strong Your Photographer
    
    img(style="border-radius: 50%; object-fit: cover; width: 120px; height: 120px;" src=PHOTOGRAPHER_PHOTO_URL alt=PHOTOGRAPHER_NAME)

    p #{PHOTOGRAPHER_NAME}<br>#{PHOTOGRAPHER_ADDRESS}
    p(style="ont-size: 14px; width: 75%; margin: auto; margin-top: 15px; color: #bbb;") #{PHOTOGRAPHER_ABOUT}

  table(style="margin: auto; width: 75%; border: solid 1px; border-collapse: collapse;")
    tr
      td(style="padding: 10px; border-top: solid 1px;") Date
      td(style="padding: 10px; border-top: solid 1px;") : #{RESERVATION_DATE}
    tr
      td(style="padding: 10px; border-top: solid 1px;") Time
      td(style="padding: 10px; border-top: solid 1px;") : #{RESERVATION_TIME}
    tr
      td(style="padding: 10px; border-top: solid 1px;") Duration
      td(style="padding: 10px; border-top: solid 1px;") : #{RESERVATION_DURATION}
    tr
      td(style="padding: 10px; border-top: solid 1px;") Number of People
      td(style="padding: 10px; border-top: solid 1px;") : #{RESERVATION_PEOPLES}

  br
  br
  br

  p
    strong #{PHOTOGRAPHER_NAME} is your photographer

  div(style="width: 100%; margin-top: 0; padding-bottom: 20px; border-bottom: solid 1px #ccc;")
    div(style="display: inline-block; width: 55%;") Contact <strong>#{PHOTOGRAPHER_NAME}</strong> to coordinate your meeting point

    div(style="display: inline-block; color: #3aeccb; width: 40%; float: right; text-align: right;") Message Photographer<br>#{PHOTOGRAPHER_PHONE}

  div(style="width: 100%; padding: 20px 0; border-bottom: solid 1px #ccc;")
    div(style="display: inline-block; width: 55%;") Any question, please contact our customer support

    div(style="display: inline-block; color: #3aeccb; width: 40%; float: right; text-align: right;") support@takapic.com

  br

  p
    strong With Love, Takapic

  